{:paths ["src" "resources"]
 :deps  {org.clojure/clojure            {:mvn/version "1.11.3"}
         stuffs/stuffs                  {:git/url "https://github.com/den1k/stuffs"
                                         :sha     "7b39d05eb5349eb677454f3851ae28e178286d57"}

         http-kit/http-kit              {:mvn/version "2.8.0"}
         ring/ring-core                 {:mvn/version "1.11.0"}
         ring-oauth2/ring-oauth2        {#_#_:mvn/version "0.2.0"
                                         :git/url "https://github.com/jamiepratt/ring-oauth2"
                                         :sha     "95f004f7171ac21d68af16f620ca6b0211ca63ba"}
         ring-basic-authentication/ring-basic-authentication
         {:mvn/version "1.1.1"}
         ring/ring-defaults             {:mvn/version "0.3.4"}
         metosin/reitit                 {:mvn/version "0.5.18"}



         com.hyperfiddle/electric       {:mvn/version "v2-alpha-540-ga4699532"}

         missionary/missionary          {:mvn/version "b.39"}

         ch.qos.logback/logback-classic {:mvn/version "1.4.5"}
         cljfmt/cljfmt                  {:mvn/version "0.9.2"}
         org.babashka/sci               {:mvn/version "0.8.41"}
         instaparse/instaparse          {:mvn/version "1.4.12"}
         ;borkdude/edamame {:mvn/version }
         datalevin/datalevin            {:mvn/version "0.8.29"}
         webpush/webpush                {:mvn/version "0.1.0-SNAPSHOT"}}
 :aliases
 {:prod {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
  :dev  {:jvm-opts      ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                         "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                         "-Xss3m"]
         :extra-paths   ["dev"]
         :override-deps {stuffs/stuffs            {:local/root "../../clojure/stuffs"}
                         com.hyperfiddle/electric {:local/root "../../clojure/electric"}}
         :extra-deps    {org.clojure/clojurescript {:mvn/version "1.11.60"}
                         thheller/shadow-cljs      {:mvn/version "2.25.3"}
                         binaryage/devtools        {:mvn/version "1.0.6"}}}
  :demo {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                    "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}
  :shadow-cljs
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.60"}
                thheller/shadow-cljs      {:mvn/version "2.20.20"}}
   :main-opts  ["-m" "shadow.cljs.devtools.cli"]
   ;; deeper stack for shadow-cljs w/ photon compilation
   :jvm-opts   ["-Xss3m"]}
  :dev/cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.25.3"}
    binaryage/devtools   {:mvn/version "1.0.6"}}
   :jvm-opts ["-Xss3m"]}}}
